/** 
 *  Components - Page Post
 *  Content
 */

.post-content {
  padding-bottom: 80px;
  
  p {
    @extend .body-long;

    & + p {
      margin-top: 8px;
    }
  }

  h4 {
    @extend .title-4;
    margin: 72px 0 16px;
  }

  figure {
    margin: 40px 0;

    & + figure {
      margin-top: -24px; 
    }

    img {
      margin-bottom: -4px;
    }
  }

  a {
    @extend .link;
  }

  hr {
    border: 0;
    border-top: 1px solid get-color(border, primary);
    margin: 48px 0;
  }

  @include mq-max($break-tablet) {
    padding-bottom: 56px;
    
    h4 {
      margin: 56px 0 16px;
    }

    img {
      margin: 24px 0;
    }
  }
}