/** 
 *  Components - Page Post
 *  Image Modal
 */

.image-modal {
  @include pos(0, $left: 0, $z: 999, $pos: fixed);
  @include wh(100%, 100%);
  @include flex(center, center);
  padding: 0 20px;
  background-color: white;
  cursor: zoom-out;

  img {
    @include wh(100%, $max-w: $col-7);
  }

  @include mq-max($break-tablet) {
    &::after {
      content: '';
      display: block;
      @include wh(40px, 40px);
      @include background('buttons/button-close-image.svg');
      @include pos($bottom: 100px);
    }
  }
}